In [1]:
import string
import pandas as pd
import numpy as np

# Utils

In [2]:
root_path = './data/Lesson07/similarity/'
labels = ['000', '010', '020', '030', '040', '050', '060', '070', '080', '090']

def read_dataset(label):
    with open(f'{root_path}{label}.txt') as f:
        text = f.read()
        text = text.translate(str.maketrans('', '', string.punctuation))
        text = text.lower()
        
        return text
    
datasets = [read_dataset(label) for label in labels]

In [3]:
def create_dictionary(text):
    words = text.split(' ')
    dictionary = set(words)
    
    I = ''
    for word in words:
        I += word
        
        if I in dictionary:
            continue
        
        dictionary.add(I)
        I = word
        
    return dictionary

In [4]:
def FCD(text1, text2):
    x, y = set(create_dictionary(text1)), set(create_dictionary(text2))
    
    return (len(x) - len(x&y)) / len(x)

# Results

In [5]:
num = len(datasets)
m = np.zeros((num, num))

for i in range(num):
    for j in range(num):
        m[i,j] = round(FCD(datasets[i], datasets[j]), 2)

In [6]:
df=pd.DataFrame(m, columns=labels, index=labels)
df

      000   010   020   030   040   050   060   070   080   090
000  0.00  0.16  0.31  0.44  0.56  0.65  0.73  0.80  0.89  0.94
010  0.16  0.00  0.40  0.52  0.61  0.68  0.76  0.82  0.90  0.94
020  0.32  0.41  0.00  0.58  0.67  0.73  0.79  0.84  0.91  0.95
030  0.43  0.51  0.57  0.00  0.71  0.76  0.81  0.85  0.91  0.95
040  0.55  0.61  0.66  0.70  0.00  0.80  0.83  0.88  0.92  0.95
050  0.64  0.67  0.72  0.76  0.79  0.00  0.86  0.88  0.93  0.95
060  0.73  0.75  0.78  0.81  0.83  0.86  0.00  0.90  0.93  0.96
070  0.80  0.82  0.84  0.84  0.88  0.89  0.91  0.00  0.94  0.96
080  0.88  0.89  0.90  0.90  0.92  0.93  0.93  0.93  0.00  0.97
090  0.93  0.94  0.94  0.95  0.95  0.95  0.96  0.96  0.97  0.00

In [7]:
print(df.to_string())

      000   010   020   030   040   050   060   070   080   090
000  0.00  0.16  0.31  0.44  0.56  0.65  0.73  0.80  0.89  0.94
010  0.16  0.00  0.40  0.52  0.61  0.68  0.76  0.82  0.90  0.94
020  0.32  0.41  0.00  0.58  0.67  0.73  0.79  0.84  0.91  0.95
030  0.43  0.51  0.57  0.00  0.71  0.76  0.81  0.85  0.91  0.95
040  0.55  0.61  0.66  0.70  0.00  0.80  0.83  0.88  0.92  0.95
050  0.64  0.67  0.72  0.76  0.79  0.00  0.86  0.88  0.93  0.95
060  0.73  0.75  0.78  0.81  0.83  0.86  0.00  0.90  0.93  0.96
070  0.80  0.82  0.84  0.84  0.88  0.89  0.91  0.00  0.94  0.96
080  0.88  0.89  0.90  0.90  0.92  0.93  0.93  0.93  0.00  0.97
090  0.93  0.94  0.94  0.95  0.95  0.95  0.96  0.96  0.97  0.00